.Li {
    text-decoration: none;
    font-family: "Overpass", sans-serif;
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 2px;
    margin: 2px;
    
}