.NavBar {
  background-color: #ffffff;
  border: 1px solid #dadadf;
}

.NavLink {
    padding: 5px;
    text-decoration: none;
    font-family: "Overpass", sans-serif;

  }
  
  .Active i {
    color: #2142b2;
  }