.Image {
  height: 150px;
  width: 200px;
}

.Like {
    color: #0059ff;
  }
  
  .Like:hover {
    color: #2142b2;
  }
  
  .LikeOutline:hover {
    color: #0066ff;
  }

  @media screen and (min-width: 1000px) {
    .Image {
        width: 250px;
        height: 200px;
        
    }
  }